*, *:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

main {
    margin: 2rem auto;
    width: max-content;
}

h1.title {
    font-size: 1.5rem;
}

.form-group {
    max-width:  20rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group label, .form-group input, .form-group button {
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 50%;
}

#result {
    font-size: 1.2rem;
}